<style>
    body{background:none;}
    h4{padding: 20px 0;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 26px;}
</style>
<div class="wrapper" >

	<h4>PPT列表</h4>
    <div id="J_controllList">
        <ul>

        </ul>
    </div>
</div>


<script src="lib/js/head.min.js"></script>
<script>

	head.js( '/js/jquery-1.7.2.min.js','/socket.io/socket.io.js' , function() {
		
        // connect
        var socket = io.connect('/');
        var presentations = [];

        // 判断val是否在数组arr里面，如果是返回val在数组的下标，如果不是返回false
        function inArray( arr,val ){
            for( var i = 0,len = arr.length; i < len; i++ ){
                if ( arr[ i ] === val ){
                    return i;
                }
            }
            return false;
        }

        socket.on('connect', function () {
            console.log("PPT列表控制器连接成功.");

            socket.on('presentation_list', function( presentationList ){
               for ( var i in presentationList ){
                   var data = presentationList[ i ];
                   if( data.isActive === true ){
                       presentations.push(data.id);

                       var template = '<li data-id="' + data.id + '" ><a target="_blank" href="/controller?presentation=' + data.id  + '">' + data.title + '</a></li>';
                       $('#J_controllList ul').append(template);
                   }
               }
            });

            // PPT连接的时候加入总列表
            socket.on('ppt_connect',function( data ){
                // eg. data: {id: "reactNative", title: "react-native 实践与总结", icoURL: "/img/react.ico"}
                if ( inArray( presentations,data.id ) === false ){
                    presentations.push(data.id);

                    var template = '<li data-id="' + data.id + '" ><a target="_blank" href="/controller?presentation=' + data.id  + '">' + data.title + '</a></li>';
                    $('#J_controllList ul').append(template);
                }
            });

            // PPT断开连接的时候从总列表移除
            socket.on('ppt_disconnected',function( data ){
                if ( inArray(presentations, data.id) !== false ){
                    var idx = inArray(presentations, data.id);
                    presentations.splice(idx, idx+1);

                    $('#J_controllList li[data-id="' + data.id + '"]').remove();
                }
            });
        });
    });
	
</script>